<div class="todos">
    <form (submit)="addTodo()">
		<input 
			type="text"
			name="inputTodo"
			placeholder="Enter todo..."
			class="todo-input"
			[(ngModel)]="inputTodo"
			style = "background-color: whitesmoke; border :0ch; text-align: center;"
		/>
		<input type="submit" value="Add Todo" class="todo-submit" />
	</form>
    <div *ngFor = "let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : '')}} " >
        <div class="id" >{{i}}</div>
        <div class="content" (click)="toggle(i)"><span class = "highlight">{{todo.content}}</span></div>
        <button class="delete" (click)="deleteItem(i)">Remove Item</button>
    </div>
</div>
